html, body {
    font-family: Trebuchet MS;
    height: 100%;
    margin: 0;
}

h1 {
    display: inline-block;
    font-size: 22px;
    margin: 0;
}

.page-body {
    display: block;
    position: relative;
    width: 100%;
}

.page-top-left {
    display: inline-block;
    float: left;
}

.page-top {
    border-bottom: 1px solid #3176bb;
    margin-bottom: 20px;
    padding: 10px;
    text-align: right;
}


.page-center {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}

.page-center .btn-back {
    background: white;
    border: 1px solid #75787b;
    color: #75787b;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    margin: 50px auto 0 auto;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 80px;
}

.page-center .btn-back:hover {
    background-color: white;
    border-color: #004890;
    color: #004890;
    text-decoration: none;
}

.page-box {
    color: #3176bb;
    display: inline-block;
    left: 50%;
    margin: 30px auto;
    padding: 30px 50px;
    position: relative;
    transform: translate(-50%, 0);
}

.page-box h1 {
    color: black;
    display: block;
    margin: 20px 0;
    width: 100%;
}

.page-box .page-button {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.page-box .page-button-text {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.input-text-only {
    border-bottom: 2px solid transparent;
    color: black;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding: 3px 0;
}

.input-about { min-width: 300px; }

.page-input {
    border: 1px solid #3176BB;
    color: black;
    display: block;
    font-size: 14px;
    margin: 0 0 15px 0;
    min-width: 300px;
    padding: 7px 11px;
    position: relative;
}

textarea.page-input {
    color: black;
    max-height: 250px;
    width: 300px;
}

.page-input:focus {
    border-color: #3176bb;
    outline: none;
}

.page-input-box {
    display: block;
    font-size: 14px;
    position: relative;
}

.page-input-box.has-error .page-input { border-color: #AC0C0C; }

.page-input-placeholder {
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 5;
}

.btn-container .page-button {
    float: right;
    margin-left: 5px;
}

.page-button {
    background: #3176bb;
    border: 1px solid #3176bb;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
    min-width: 120px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}



.page-button:hover {
    background-color: #004890;
    color: white;
    text-decoration: none;
}

.page-button.btn-back {
    display: block;
    width: 70px;
}

.page-button.btn-back:before {
    content: "<";
    font-size: 17px;
    padding-right: 10px;
}

.page-button.btn-long {
    text-align: center;
    width: 135px;
}

.page-button.btn-add { display: block; }




.page-button-text {
    color: #3176bb;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.page-button-text:hover { color: #004890; }

.page-grid {
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.page-grid thead th {
    background: #3176bb;
    color: white;
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

.page-grid thead th:nth-child(2) { min-width: 150px; }

.page-grid thead th:first-child { min-width: 150px; }

.page-grid thead th:last-child { }

.page-grid tbody td { padding: 4px 10px; }

.page-grid tbody tr:nth-child(2n + 0) { background: #F9F7F7; }

.page-grid tbody td:last-child { text-align: right; }

.page-grid tbody td:nth-child(3) { text-align: right; }

.page-grid tbody a {
    color: #3176bb;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.page-grid tbody a:hover {
    color: #004890;
    text-decoration: underline;
}

.page-grid-top {
    margin: 20px 0 20px 0;
    min-width: 450px;
    position: relative;
}

.page-grid-top .btn-add {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.modal {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}